body {
  background-color: #080F0F;
  font-family: 'Goldman', cursive;
  line-height: 20px;
  margin: 5%;
}

h1 {
  font-size: 20px;
  color: #52ADA1;
  font-weight: bolder;
  line-height: 150%;
}

h2 {
  font-size: 10px;
  color: #CC2ACD;
  line-height: 5%;
}

p {
  margin: 5%;
  font-size: 8px;
  font-weight: 900;
  color: #ffa5a5;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  max-width: 50%;
}

a {
  color: #A52422;
  text-decoration: none;
}
a:hover {
  color: #E06967;
}

.btn-outline-danger {
  font-size: 20%;
  text-align: center;
  margin-left: 40%;
}